Package: com.shepgoba.randomsms
Name: RandomSMS
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: iOS 11+ tweak to play a random tone when you receive a text (fulfills tweak bounty)
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
