Package: com.shepgoba.randtexttone
Name: randtexttone
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
Version: 1.0
Installed-Size: 136
